@import 'tailwindcss';

@theme {
	/* 
		顏色設定
		- border 基本都是 bg-neutral-700 色系
	*/
	--color-primary: #b713ff;
	--color-primary-text: #000000;
	--color-primary-bg: '#ffffff'; /*無效果*/
	--color-dark: #000000;
	--color-dark-text: '#ffffff';
	--color-primary-border: #d4d4d4;
	--color-primary-border-hover: #a1a1a1;
	--color-dark-primary-border: #404040;
	--color-dark-primary-border-hover: #525252;
	--color-primary-focus-border: '#737373';
	--color-dark-primary-focus-border: '#f5f5f5';
	--color-secondary: '#f5f5f5';
	--color-secondary-text: '#525252';
	--color-dark-secondary: #262626;
	--color-dark-secondary-text: #d4d4d4;
	/* 斷點設定 */
	--breakpoint-xs: 29rem; /* 斷點 464 以上 */

	/* 動畫相關設定 */
	--animate-wiggle: wiggle 1s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}

	/* 選單從右邊展示至左邊 */
	--animate-slideInFromRight: slideInFromRight 0.3s ease-out forwards;
	@keyframes slideInFromRight {
		0% {
			transform: translateX(100%); /* 從螢幕右邊以外開始 */
		}
		100% {
			transform: translateX(0); /* 回到原位 */
		}
	}

	/* 選單從左邊收合回右邊 */
	--animate-slideOutToRight: slideOutToRight 0.3s ease-in forwards;
	@keyframes slideOutToRight {
		0% {
			transform: translateX(0);
		}
		99% {
			transform: translateX(100%);
		}
		100% {
			display: none;
		}
	}
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
[data-theme='dark'],
[data-theme='dark'] body {
	color: #fff;
	background: #000;
}

/* 主容器 */
.max-container {
	@apply mx-auto max-w-6xl;
}

/* 導覽列 start */
.navbar-link {
	@apply text-primary-text dark:text-dark-text hover:opacity-80;
}

.navbar-link-active {
	@apply text-primary font-bold before:absolute before:top-1 before:-left-3 before:font-bold before:content-['．'];
}

.navbar-icon {
	@apply size-6;
}

.navbar-button {
	@apply dark:bg-dark relative h-[40px] w-[40px] cursor-pointer rounded-full bg-gray-50 p-2 hover:bg-gray-100 dark:hover:bg-gray-900;
}

.navbar-button .navbar-icon {
	position: absolute;
	inset: 0;
	margin: auto;
	transition:
		opacity 0.2s ease,
		transform 0.2s ease;
}
.navbar-button .navbar-icon-open {
	opacity: 1;
	transform: scale(1) rotate(0deg);
}
.navbar-button .navbar-icon-close {
	opacity: 0;
	transform: scale(0.75) rotate(-90deg);
}

.navbar-button[data-open='true'] .navbar-icon-open {
	opacity: 0;
	transform: scale(0.75) rotate(90deg);
}
.navbar-button[data-open='true'] .navbar-icon-close {
	opacity: 1;
	transform: scale(1) rotate(0deg);
}
/* 導覽列 ends */

/* 下拉式選單 start */
/* hover 無法設置 */
option {
	@apply dark:bg-dark bg-white text-sm text-neutral-700 dark:text-white;
}

/* option:disabled {
	@apply text-primary-text bg-amber-300;
} */

option:checked {
	@apply bg-neutral-100 font-semibold dark:bg-neutral-700;
}
/* 下拉式選單 ends */

/* 連結 start */
.link {
	@apply text-primary-text dark:text-dark-text underline underline-offset-4 duration-75 hover:opacity-80;
}

.footer-link {
	@apply text-neutral-100 underline underline-offset-4 duration-75 hover:opacity-80;
}
/* 連結 ends */

/* 標題 start*/
.page-title {
	@apply text-primary text-2xl;
}

h2,
h3,
h4,
h5 {
	@apply text-xl;
}
/* 標題 ends*/

/* 按鈕 start */
.button {
	@apply border-primary-border hover:border-primary-border-hover focus:border-primary-focus-border dark:bg-dark dark:border-dark-primary-border dark:hover:border-dark-primary-border-hover dark:focus:border-dark-primary-focus-border text-primary-text dark:text-dark-text flex cursor-pointer items-center justify-center rounded-sm border bg-white duration-100 hover:opacity-85;
}

.more-button {
	@apply float-end w-[150px] px-2 py-1;
}
/* 按鈕 ends */

/* BreadcrumbNav --- start  */
/* 通用分隔符號樣式 */
.breadcrumb-before-icon {
	@apply ps-3 before:absolute before:top-0.5 before:left-0 before:w-1 before:translate-x-0 before:-translate-y-0.5 before:font-medium before:content-['/'];
}
/* BreadcrumbNav --- ends */

/* 常用框線 border --- start */
.primary-border {
	@apply border-primary-border hover:border-primary-border-hover dark:border-dark-primary-border dark:hover:border-dark-primary-border-hover border;
}

.primary-border-color {
	@apply border-primary-border hover:border-primary-border-hover dark:border-dark-primary-border dark:hover:border-dark-primary-border-hover;
}

/* 常用框線 border --- ends */
